<template>
  <div id="app">
    <h1>Device Orientation:</h1>
    <ul>
      <li>Alpha: {{deviceInfo.orientation.alpha}}</li>
      <li>Beta: {{deviceInfo.orientation.beta}}</li>
      <li>Gamma: {{deviceInfo.orientation.gamma}}</li>
      <li>Data: {{deviceInfo.data}}</li>
    </ul>
    <h1>WebSocket:</h1>
    <ul>
      <li>Host: {{webSocketInfo.host}}</li>
      <li>Port: {{webSocketInfo.port}}</li>
      <li>Connected: {{webSocketInfo.connected}}</li>
    </ul>
  </div>
</template>

<script>

// import qs from 'qs';

export default {
  name: 'app',
  components: {
  },
  data() {
    return {
      deviceInfo: {
        orientation: {
          alpha: 100,
          beta: 0,
          gamma: 0,
        },
        data: '',
      },
      webSocketInfo: {
        host: '192.168.0.109',
        port: '5555',
        connected: false,
      },
      ws: null,
    };
  },
  mounted() {
    // Init Websocket
    this.wsSet();
    // Init Get Device Info
    window.addEventListener('deviceorientation', this.orientationHandler, false);
  },
  methods: {
    orientationHandler(e) {
      this.deviceInfo.orientation.alpha = e.alpha === null ? 0 : e.alpha.toFixed(2);
      this.deviceInfo.orientation.beta = e.beta === null ? 0 : e.beta.toFixed(2);
      this.deviceInfo.orientation.gamma = e.gamma === null ? 0 : e.gamma.toFixed(2);
      this.deviceInfo.data = `${this.deviceInfo.orientation.alpha},${this.deviceInfo.orientation.beta},${this.deviceInfo.orientation.gamma}`;
      //
      if (this.webSocketInfo.connected) {
        this.ws.send(this.deviceInfo.data);
      }
    },
    wsSet() {
      this.ws = new window.WebSocket(`ws://${this.webSocketInfo.host}:${this.webSocketInfo.port}`);
      this.ws.onopen = () => {
        console.info(`connected: ws://${this.webSocketInfo.host}:${this.webSocketInfo.port}`);
        this.webSocketInfo.connected = true;
      };
      this.ws.onclose = () => {
        console.info('connect closed');
        this.webSocketInfo.connected = false;
        this.wsReConnect();
      };
    },
    wsReConnect() {
      if (!this.webSocketInfo.connected) {
        console.log('try reconnect');
        this.wsSet();
        setTimeout(() => {
          this.wsReConnect();
        }, 2000);
      }
    },
  },
};

</script>

<style lang="less">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
ul, li{
  list-style: none;
}
</style>
